.desktop {
  background-color: #ddff8e;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .overlap-wrapper {
  background-color: #ddff8e;
  overflow: hidden;
  width: 1440px;
  height: 1188px;
}

.desktop .overlap {
  position: relative;
  width: 2016px;
  height: 1253px;
  top: 29px;
  left: -402px;
}

.desktop .overlap-group {
  position: absolute;
  width: 2016px;
  height: 1253px;
  top: 0;
  left: 0;
}

.desktop .rectangle {
  position: absolute;
  width: 229px;
  height: 59px;
  top: 1px;
  left: 1585px;
  background-color: #4de7ffa1;
  border-radius: 63px;
}

.desktop .div {
  position: absolute;
  width: 1404px;
  height: 614px;
  top: 100px;
  left: 421px;
  border-radius: 49px;
  background: linear-gradient(180deg, rgb(0, 250.75, 255) 0%, rgb(9.35, 78.95, 255) 100%);
}

.desktop .text-wrapper {
  position: absolute;
  top: 361px;
  left: 465px;
  font-family: "Oswald", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  letter-spacing: 3.36px;
  line-height: 71.3px;
  white-space: nowrap;
}

.desktop .vector {
  position: absolute;
  width: 479px;
  height: 347px;
  top: 366px;
  left: 898px;
}

.desktop .text-wrapper-2 {
  position: absolute;
  top: 0;
  left: 544px;
  font-family: "Oswald", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-3 {
  position: absolute;
  top: 0;
  left: 1669px;
  font-family: "Oswald", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-4 {
  position: absolute;
  top: 0;
  left: 1379px;
  font-family: "Oswald", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-5 {
  position: absolute;
  top: 0;
  left: 834px;
  font-family: "Oswald", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-6 {
  position: absolute;
  top: 0;
  left: 1092px;
  font-family: "Oswald", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .rectangle-2 {
  position: absolute;
  width: 1404px;
  height: 131px;
  top: 100px;
  left: 421px;
  background-color: #ffffff1a;
  border-radius: 33px;
}

.desktop .text-wrapper-7 {
  position: absolute;
  width: 1767px;
  top: 14px;
  left: 240px;
  font-family: "NTR", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 170px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .s {
  position: absolute;
  width: 739px;
  height: 600px;
  top: 121px;
  left: 728px;
  object-fit: cover;
}

.desktop .rectangle-3 {
  position: absolute;
  width: 377px;
  height: 98px;
  top: 662px;
  left: 932px;
  background-color: #cdb0ff;
  border-radius: 55px;
  transform: rotate(-10deg);
}

.desktop .text-wrapper-8 {
  position: absolute;
  width: 318px;
  top: 677px;
  left: 933px;
  transform: rotate(-9.74deg);
  font-family: "Oswald", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 48px;
  text-align: center;
  letter-spacing: 3.36px;
  line-height: 71.3px;
  white-space: nowrap;
}

.desktop .text-wrapper-9 {
  position: absolute;
  top: 238px;
  left: 465px;
  font-family: "Oswald", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  letter-spacing: 3.36px;
  line-height: 71.3px;
  white-space: nowrap;
}

.desktop .SRMIST {
  position: absolute;
  width: 431px;
  top: 303px;
  left: 1376px;
  font-family: "Oswald", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 1.4px;
  line-height: 29.7px;
}

.desktop .text-wrapper-10 {
  position: absolute;
  top: 309px;
  left: 465px;
  font-family: "Oswald", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  letter-spacing: 1.68px;
  line-height: 35.7px;
  white-space: nowrap;
}

.desktop .text-wrapper-11 {
  position: absolute;
  top: 432px;
  left: 465px;
  font-family: "Oswald", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  letter-spacing: 1.68px;
  line-height: 35.7px;
  white-space: nowrap;
}

.desktop .rectangle-4 {
  position: absolute;
  width: 229px;
  height: 223px;
  top: 451px;
  left: 1563px;
  background-color: #ffffffa6;
  border-radius: 33px;
}

.desktop .ellipse {
  position: absolute;
  width: 99px;
  height: 104px;
  top: 496px;
  left: 1302px;
  background-color: #cdb0ff;
  border-radius: 49.5px/52px;
}

.desktop .images-removebg {
  position: absolute;
  width: 138px;
  height: 88px;
  top: 504px;
  left: 1284px;
  object-fit: cover;
}

.desktop .rectangle-5 {
  position: absolute;
  width: 1440px;
  height: 56px;
  top: 1064px;
  left: 402px;
  background-color: #00faff;
}

.desktop .rectangle-6 {
  position: absolute;
  width: 1449px;
  height: 83px;
  top: 1010px;
  left: 401px;
  background-color: #fffdfd;
  transform: rotate(-2.27deg);
}

.desktop .p {
  position: absolute;
  width: 2012px;
  top: 1004px;
  left: 2px;
  transform: rotate(-2.15deg);
  font-family: "Oswald", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 64px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-12 {
  position: absolute;
  width: 386px;
  top: 668px;
  left: 1439px;
  font-family: "NTR", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 96px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-13 {
  position: absolute;
  width: 865px;
  top: 807px;
  left: 943px;
  font-family: "Oswald", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  text-align: right;
  letter-spacing: 1.12px;
  line-height: 23.8px;
}

.desktop .text-wrapper-14 {
  position: absolute;
  top: 1122px;
  left: 1038px;
  font-family: "NTR", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 1.68px;
  line-height: 35.7px;
  white-space: nowrap;
}

.desktop .icon-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-space-200);
  padding: var(--size-space-300);
  position: absolute;
  top: 641px;
  left: 607px;
  background-color: var(--color-background-brand-default);
  border-radius: var(--typography-primitives-scale-06);
  overflow: hidden;
  border: 1px solid;
  border-color: var(--color-border-brand-default);
}

.desktop .img {
  position: relative;
  width: 20px;
  height: 20px;
}

.desktop .linkedin-wrapper {
  display: inline-flex;
  top: 641px;
  left: 530px;
  background-color: var(--color-background-brand-default);
  border-color: var(--color-border-brand-default);
  align-items: center;
  justify-content: center;
  gap: var(--size-space-200);
  padding: var(--size-space-300);
  position: absolute;
  border-radius: var(--typography-primitives-scale-06);
  overflow: hidden;
  border: 1px solid;
}

.desktop .instagram-wrapper {
  display: inline-flex;
  top: 641px;
  left: 453px;
  background-color: var(--color-background-brand-default);
  border-color: var(--color-border-brand-default);
  align-items: center;
  justify-content: center;
  gap: var(--size-space-200);
  padding: var(--size-space-300);
  position: absolute;
  border-radius: var(--typography-primitives-scale-06);
  overflow: hidden;
  border: 1px solid;
}

.desktop .plus-wrapper {
  display: flex;
  width: 52px;
  height: 55px;
  top: 658px;
  left: 1236px;
  background-color: var(--color-background-brand-default);
  border-color: var(--color-border-brand-default);
  transform: rotate(-9.39deg);
  align-items: center;
  justify-content: center;
  gap: var(--size-space-200);
  padding: var(--size-space-300);
  position: absolute;
  border-radius: var(--typography-primitives-scale-06);
  overflow: hidden;
  border: 1px solid;
}

.desktop .plus {
  position: relative;
  width: 23px;
  height: 23px;
  transform: rotate(9.39deg);
}

.desktop .logo {
  position: absolute;
  width: 213px;
  height: 200px;
  top: 463px;
  left: 1572px;
  object-fit: cover;
}

.desktop .overlap-2 {
  position: absolute;
  width: 387px;
  height: 257px;
  top: 746px;
  left: 421px;
  background-color: #ffffff;
  border-radius: 49px;
}

.desktop .text-wrapper-15 {
  position: absolute;
  width: 361px;
  top: 19px;
  left: 16px;
  font-family: "NTR", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .campus {
  position: absolute;
  width: 305px;
  height: 138px;
  top: 99px;
  left: 41px;
  object-fit: cover;
}
